.page-node-4551 .views-row {
    background-color: #e8f1f6;
    padding: 15px;
    margin: 7px;
    webkit-box-shadow: 7px 7px 10px -1px rgba(179,179,179,1);
    -moz-box-shadow: 7px 7px 10px -1px rgba(179,179,179,1);
    box-shadow: 7px 7px 10px -1px rgba(179,179,179,1);
}

.page-node-4551 .views-row a{
    text-decoration: none;
}
